/*------HOMEPAGE styles------*/

body {
  font-family: 'Anonymous Pro', monospace;
  font-size: 20px;
  background-color: #B7EDE1;
  margin: 0;
  padding: 0;
}

nav>img {
  height: 100%;
}

/*NAVBAR styles*/

.customnavbar {
  height: 120px;
  padding: 40px;
  background-color: transparent;
  border: none;
}

/*NAVBAR buttons*/

.labelnav {
  position: relative;
  display: inline-block;
  float: right;
  margin-left: 20px;
}

.customlabel, .labelbg {
  width: 116px;
  height: 35px;
}

.customlabel {
  background-color: white;
  border: 1px solid black;
  padding: 2px 20px;
  position: absolute;
  left: -5px;
  top: -5px;
  transition: all .2s ease-out;
}

.special {
  text-align: center;
}

.labelbg {
  background-color: transparent;
  border: 1px solid black;
}

.font-nav {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.labelnav:hover .customlabel {
  left: -8px;
  top: -8px;
}

.labelnav:hover .labelbg {
  background-color: white;
}

/*BODY styles*/

/*Styles for the main text*/

.container {
  margin-top: 120px;
  padding-top: 85px;
  text-align: center;
}

.maintitle {
  width: 540px;
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: bold;
}

.mainsubtitle {
  width: 540px;
  font-size: 24px;
  margin-top: 32px;
}

/*styles for the body OF the body*/

.maincontent {
  position: relative;
  margin-top: 55px;
  height: 2840px;
}

.tablet {
  width: 50%;
  position: absolute;
  top: 115px;
  left: -130px;
  transform: rotate(65deg);
}

.tech {
  width: 100%;
}

/*CARDS for project's description*/

.projectinfo {
  width: 360px;
  position: absolute;
  top: 260px;
  right: 200px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 16px;
  position: relative;
  display: inline-block;
}

h3::before {
  content: "";
  display: block;
  height: 34px;
  background-color: #E3D5F9;
  position: absolute;
  bottom: -10px;
  right: -10%;
  left: 10%;
  z-index: -1;
}

.infolink {
  font-weight: bold;
  color: black;
  text-decoration: underline;
  float: right;
}

.phone {
  width: 35%;
  position: absolute;
  top: 900px;
  right:  -130px;
  transform: rotate(335deg);
}

.tech {
  width: 100%;
}

/*CARD exception, alignment right*/

.right {
  text-align: right;
  position: absolute;
  top: 1300px;
  left: 400px;
}

.laptop {
  width: 70%;
  position: absolute;
  top: 2100px;
  left: -250px;
}

.tech {
  width: 100%;
}

/*LAST card*/

.projectinfo.last {
  width: 360px;
  position: absolute;
  top: 2300px;
  right: 200px;
}

/*FOOTER styles*/

footer {
  width: 100%;
  height: 345px;
  background-color: #D2C7E4;
  text-align: center;
  padding-top: 50px;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}

/*Contact button styles*/

.contactbt {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
}

.customcontactbt, .contactbtbg {
  width: 206px;
  height: 60px;
}

.customcontactbt {
  background-color: white;
  border: 1px solid black;
  padding: 15px 20px;
  position: absolute;
  left: -8px;
  top: -8px;
  transition: all .2s ease-out;
}

.contactbtbg {
  background-color: transparent;
  border: 1px solid black;
}

.contactbt:hover .customcontactbt {
  left: -10px;
  top: -10px;
}

.contactbt:hover .contactbtbg {
  background-color: white;
}

.contacttext {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: black;
}

/*Icons*/

.socialmedia {
  height: 40px;
  text-align: center;
  padding-left: 10px;
  margin-bottom: 30px;
}

.socialud {
  height: 100%;
  margin-right: 20px;
}

.textbottom {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: black;
  text-align: center;
}
.icon{
  width: 40px;
}

/*------END of INDEX page------*/

/*------PRODUCT styles------*/

.sectiontitle {
  width: 360px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.tags {
  width: 360px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: black;
  text-align: center;
}

.sectionsubtitle {
  width: 360px;
  font-size: 20px;
}

.maincontent.projectpage {
  width: 100%;
  position: relative;
  margin-top: 50px;
  margin-bottom: 100px;
}

.imageleft {
  padding: 25px 25px 25px 50px;
}

.descriptioncontainer {
  width: 40%;
  float: left;
  padding-top: 25px;
}

.projectdescription {
  font-size: 14px;
}

.project {
  width: 100%;
}

.imageright {
  padding: 25px 50px 25px 25px;
}

/*------END of PRODUCT page------*/


/*------PROJECTS styles------*/



/*------END of PROJECTS page------*/
